<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog List</title>
    <link th:href="@{/Bootstrap.css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="mx-5">
    <h3 class="mx-3"> Blog List</h3>

    <div th:if="${msg}" class="mb-3">
        <span th:text="${msg}"></span>
    </div>

    <p class="mb-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </svg>
        <a th:href="@{/blog/create}" class="fw-bold text-dark text-decoration-none">Add new blog</a>
    </p>

    <div class="mb-3">
        <form th:action="@{/blog}" method="get">

            <div class="mb-3">
                <label for="author" class="form-label">Author: </label>
                <input type="text" class="form-control" id="author" name="author" placeholder="Type author name">
            </div>

            <div class="mb-3">
                <label for="category" class="form-label">Category: </label><br>

                <select name="categoryID" id="category">
                    <option disabled selected>-Choose category-</option>
                    <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                </select>
            </div>

            <input type="submit" value="Search">

        </form>
    </div>

    <div class="mb-3">
        <table class="table">
            <thead class="bg-secondary">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Author</th>
                <th scope="col">Brief Description</th>
                <th scope="col">Start Date</th>
                <th scope="col">Category</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
                <th scope="col">View</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="blog : ${blogs}">
                <th scope="row" th:text="${blog.getId()}"></th>
                <td th:text="${blog.getName()}"></td>
                <td th:text="${blog.getAuthor()}"></td>
                <td th:text="${blog.getBriefDiscription()}"></td>
                <td th:text="${blog.getDate()}"></td>
                <td th:text="${blog.getCategory().getName()}"></td>

                <td>
                    <a th:href="@{/blog/{id}/edit(id=${blog.getId()})}" class="text-dark text-decoration-none">Edit</a>
                </td>

                <td>
                    <a th:href="@{/blog/{id}/delete(id=${blog.getId()})}" class="text-dark text-decoration-none">Delete </a>
                </td>

                <td>
                    <a th:href="@{/blog/{id}/view(id=${blog.getId()})}" class="text-dark text-decoration-none">View</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


    <div>
        <a th:href="@{/blog(page=${blogs.number - 1})}" th:if="${blogs.hasPrevious()}">Previous</a>
        <span th:text="${blogs.number}"></span>/<span th:text="${blogs.totalPages}"></span>
        <a th:href="@{/blog(page=${blogs.number+1})}" th:if="${blogs.hasNext()}">Next</a>
    </div>

</div>

<script th:src="@{/Bootstrap.css/bootstrap.bundle.min.js}"></script>
</body>
</html>